
.grid_item{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    background-color: rgb(164, 167, 164);
    padding: 30px;
    height: 100%;
    .img{
        width: 400px;
        height: 300px;
    }
    .time{
        color: rgb(90, 104, 230);
        font-size: 12px;
    }
    .title{
        font-size: 16px;
        color: rgb(28, 13, 240);
    }
    .description{
        font-size: 14px;
        color:rgb(28, 13, 240);
    }
    .text{
        color: red;
        font-size: 20px;
    }
} 

.search_container {
   display: flex;
   justify-content:space-between;
    .button_news{
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: rgb(35, 32, 78);
        color: rgb(192, 104, 63);
        border-radius: 5px;
        margin-left: 2rem;
    }
    .search{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

