
$nabar-background-color:#229594 ;
.block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:$nabar-background-color ;
      .openModalBtn{
          background-color: #229594;
          cursor: pointer;
          color: rgb(32, 5, 133);
          border-radius: 6px;
          font-size: 14px;
      } 
   
}