
.grid_item{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    background-color: rgb(164, 167, 164);
    padding: 30px;
    .img{
        width: 400px;
        height: 300px;
    }
    .time{
        color: rgb(90, 104, 230);
        font-size: 12px;
    }
    .title{
        font-size: 16px;
        color: rgb(28, 13, 240);
    }
    .description{
        font-size: 14px;
        color:rgb(28, 13, 240);
    }
    .bttn {
        height: 25px;
        width: 25px;
        color: red;
        border-radius: 2px;
        position: absolute;
        //  left: 10px;
        // top: 1px;

    }
    .bttn1{
        background-color: rgb(23, 209, 54);
    }
}   
