
.box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 4rem;
   .text{
       color: rgb(17, 108, 136);
       font-size: 20px;
       
   }
}
.grid_item{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    background-color: rgb(164, 167, 164);
    padding: 30px;
    .img{
        width: 400px;
        height: 300px;
    }
    .time{
        color: rgb(90, 104, 230);
        font-size: 12px;
    }
    .title{
        font-size: 16px;
        color: rgb(28, 13, 240);
    }
    .description{
        font-size: 14px;
        color:rgb(28, 13, 240);
    }
}   