
.box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 4rem;
   .text{
       color: rgb(17, 108, 136);
       font-size: 20px;
       
   }
}

.container {
    display: inline-grid;
    // padding: 10px;
    margin-right: 4rem;
    
   .grid_item {
    display: grid;
    // grid-template-columns: auto auto auto;
    // background-color: #2196F3;
    //    margin-top: 1rem;
    //    margin-right: 2rem;
   
 
 
       .img{
           width: 300px;
           height: 300px;
       }
       .text{
           font-size: 15px;
           margin-left: 2rem;
           color:rgb(109, 53, 238);
       }
   }
   .text{
       color: red;
       font-size: 35px;
       text-align: center;
   }
}

.search {
   display: flex;
   width: 200px;
   justify-content: center;
   margin-left: 5rem;
   margin-top: 1rem;
    
}

@media only screen and (max-width: 1024px) {
    .container{
        height: 800px;
   }
}
@media only screen and (max-width: 768px) {
    .container{
        height: 600px;
   }
}
@media only screen and (max-width: 640px) {
    .grid_item{
        grid-template-columns: auto;
        height: 300px;
        width: 100%;
   }
}